export(assert)
export(calls.to.trace)
export(can.parse.multi.line)
export(clone.environment)
export(copy.into.env)
export(env.console)
export(eval.with.error.trace)
export(get.restore.point.options)
export(get.stored.dots)
export(get.stored.object.list)
export(is.storing)
export(restore.objects)
export(restore.point)
export(restore.point.browser)
export(set.restore.point.options)
export(set.storing)
export(store.objects)
