export("TRUE")
export(Is)
export(Stores)
export(able)
export(all)
export(assert)
export(be)
export(by)
export(calling)
export(calls.to.trace)
export(copy.into.env)
export(debugging.)
export(env.console)
export(environment)
export(eval.with.error.trace)
export(get.restore.point.options)
export(get.stored.dots)
export(get.stored.object.list)
export(is.storing)
export(later)
export(local)
export(objects)
export(of)
export(restore)
export(restore.objects)
export(restore.point)
export(set.restore.point.options)
export(set.storing)
export(store.objects)
export(the)
export(them)
export(to)
export(used)
export(when)
